* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 80px;
    height: 50px;
    color: black;
    background: none;
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    background: white;
}

 body {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background: #f0f2f5;
 }

 .hidden {
    display: none;
    visibility: hidden;
 }

header {
    display: flex;
    justify-content: space-between;
    background: #3dd705;
    padding: 2rem;
}

div#current-tile {
    padding: 2rem;
}

#current-tile img {
    width: 250px;
}

div#next-reset {
    width: 100%;
    display: flex;
    justify-content: center;
}

#reset,
#next-tile,
#previous-tile {
    margin: 0 0,5rem 2rem;
}

#previous-tiles img {
    width: 75px;
}

.unpicked {
    filter: grayscale(95%);
}

footer {
    margin-top: 3rem;
    text-align: center;
    opacity: 0.7;
}